h1, h2, h3 {
  font-family: "Montserrat", sans-serif;
}

.form-select {
  border-color: rgba(0, 0, 0, 0.7);
}

header {
  display: flex;
  align-items: center;
  gap: 8px;
}

header>img {
  width: 64px;
  height: 64px;
}